#tombol-checklist {
  padding: 0rem 0.35rem;
}

.text-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.latar-belakang-gelap {
  background-color: rgb(43, 48, 53);
  color: white;
}

.latar-belakang-gelap:hover {
  background-color: rgb(49, 55, 61);
  color: white;
}
